.as-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.as-section {
	-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
	-moz-box-sizing: border-box; /* <=28 */
	box-sizing: border-box;
}